{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./"],
                "alias": {
                    "src": "./src",
                    "assets": "./src/assets",
                    "utils": "./src/utils",
                    "pages": "./src/pages",
                    "components": "./src/components"
                }
            }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose" : true }]
    ]

}
